.all-projects-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;

  margin: 2em;

}

.all-projects-grid .project-thumb {
  text-align: center;
  margin: 0px;
}

.all-projects-grid a {
  color: black;
}
.all-projects-grid a:link {
  text-decoration: none;
}
.all-projects-grid a:visited {
  text-decoration: none;
}
.all-projects-grid a:hover {
  text-decoration: none;
}
.all-projects-grid a:active {
  text-decoration: none;
}
