.blogpost-details h2 {
  font-size: 3.5em;
  margin-top: 80px;
}

.blogpost-details h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 40px;
}

.blogpost-details .tagList {
  justify-content: flex-start;
}

.blogpost-body {
  padding: 10px;
}

.blogpost-body h1 {
  font-size: 2em;
}
.blogpost-body h2 {
  font-size: 1.5em;
}
.blogpost-body h3 {
  font-size: 1em;
  font-weight: 500;
}

h1.blogpostTitle {
  background-color: var(--primary-color);
  color: white;
  margin-top: 1em;
  margin-bottom: 0.5em; /* we want the tech stack tags to be close to the title */
}

code {
  background-color: lightgrey;
}

th {
  background-color: var(--primary-color);
  color: white;
  padding: 0px 2em;
}

td {
  padding: 0px 15px;
}
