@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Open+Sans&display=swap');


body {
  --primary-color: #2F80ED;
  --secondary-color: #56CCF2;
  --error-color: #DD7373;
  --theme-grey: #EEE5E9;
  --theme-warning: #EAD94C; 

  --nav-width: 80px;

  font-family: 'Open Sans', 'sans-serif';
  margin: 0;
}

html,body {
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Montserrat';
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

.content-layout {
  display: flex;
  flex-direction: row;

}

.content-layout nav {
  height: 100vh;
  position: fixed;
  top:0;
  padding: 5px;
  width: var(--nav-width);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: x-large;

  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  background-repeat: no-repeat;

  color: white;

}

.nav-icon {
  margin-top: 2em;
  margin-bottom: 2em;

  color: white;

}

.content-layout > .content {
  
  padding-left: calc(var(--nav-width));
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  width: 100vw;
  box-sizing: border-box;
}

.content-layout article {
  max-width: 600px;
  width: calc(100wv - var(--nav-width));
  padding-left: 2em;
}

.content-layout footer {
  width: calc(100wv - var(--nav-width));
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
  bottom: 0; */
  box-sizing: border-box;
  padding: 1em;
  
  width: 100vw;

  background-color: #2B303A;
  color: #FFF;
}

footer .social-links-row {
  display: flex;
  justify-content: space-between;
  font-size: large;
}

.social-links-row  svg {
  /* Font awesome social icons */
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  margin: 2rem;
  transition: all 0.5s linear;
}

.social-links-row a {
  color: white;

}

.social-links-row  svg:hover {
  transform: scale(1.3);
}

footer .footer-disclaimer {
  font-size: small;
  font-style: italic;
  color:grey;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

footer a {
  color: grey;
}

footer hr {
  width: 50%;
}


