#hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background: white;

}

#hero > * {
  margin-left: calc(min(2em,10%));
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h1:not(:last-child) {
  margin-bottom: 0;
}

h1:last-child {
  margin-top: 0;
  margin-bottom: 1em;
}


.hero-emphasis {
  color: #2F80ED;
}