.self-introduction {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 3em;

  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  background-repeat: no-repeat;

  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);

  color: white;

  margin-bottom: 3em;

}

.bio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}

@media (max-width: 550px) {
  .bio-container {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 900px) {
  .self-introduction {
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
  }
}

.bio-text {
  padding: 1em;
}

.bio-text a {
  text-decoration: none;
  color: white;
}

.image-placeholder {
  text-align: center;
}

#self-portrait {
  border-radius: 5px;
  width: 250px;
}

.self-introduction .tagList {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 550px) {
  .self-introduction .tagList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.self-introduction .tag {
  background-color: var(--theme-warning);
  color:black;
}
.skillSetList h3 {
  margin-bottom: 0.5em;
}